<a href="https://colab.research.google.com/github/d7lewandowski/pyspark-script/blob/main/dataalgoritmswithpyspark/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=74e9bd48fbc49020a909b01100282656b7b4c2362a51e4db1863eb42d2e6541b
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('ETL').getOrCreate()

# EXTRACTION (source data)

In [ ]:
input_path = '/content/drive/MyDrive/Colab Pyspark/data/census_2010.json'
census_df = spark.read.json(input_path)
census_df.count()

101

In [ ]:
census_df.printSchema()

root
 |-- age: long (nullable = true)
 |-- females: long (nullable = true)
 |-- males: long (nullable = true)
 |-- year: long (nullable = true)

In [ ]:
census_df.show(200)

+---+-------+-------+----+
|age|females|  males|year|
+---+-------+-------+----+
|  0|1994141|2085528|2010|
|  1|1997991|2087350|2010|
|  2|2000746|2088549|2010|
|  3|2002756|2089465|2010|
|  4|2004366|2090436|2010|
|  5|2005925|2091803|2010|
|  6|2007781|2093905|2010|
|  7|2010281|2097080|2010|
|  8|2013771|2101670|2010|
|  9|2018603|2108014|2010|
| 10|2023289|2114217|2010|
| 11|2026352|2118390|2010|
| 12|2037286|2132030|2010|
| 13|2060100|2159943|2010|
| 14|2089651|2195773|2010|
| 15|2117689|2229339|2010|
| 16|2146942|2263862|2010|
| 17|2165852|2285295|2010|
| 18|2168175|2285990|2010|
| 19|2159571|2272689|2010|
| 20|2151448|2259690|2010|
| 21|2140926|2244039|2010|
| 22|2133510|2229168|2010|
| 23|2132897|2218195|2010|
| 24|2135789|2208905|2010|
| 25|2136497|2197148|2010|
| 26|2137711|2185169|2010|
| 27|2131362|2167654|2010|
| 28|2113361|2142006|2010|
| 29|2088593|2111921|2010|
| 30|2065883|2083642|2010|
| 31|2043293|2055863|2010|
| 32|2027525|2034632|2010|
| 33|2022761|2023579|2010|
| 34|2025969|2020204|2010|
| 35|2029981|2018080|2010|
| 36|2036269|2018137|2010|
| 37|2045241|2022787|2010|
| 38|2056401|2032469|2010|
| 39|2070132|2046398|2010|
| 40|2085229|2061474|2010|
| 41|2099423|2076069|2010|
| 42|2123189|2098014|2010|
| 43|2160806|2130169|2010|
| 44|2205936|2167507|2010|
| 45|2247630|2201679|2010|
| 46|2287688|2233787|2010|
| 47|2317309|2256546|2010|
| 48|2330869|2265290|2010|
| 49|2331572|2262342|2010|
| 50|2329647|2256294|2010|
| 51|2324721|2247349|2010|
| 52|2306106|2223261|2010|
| 53|2270038|2179406|2010|
| 54|2221350|2121536|2010|
| 55|2167706|2059204|2010|
| 56|2106460|1989505|2010|
| 57|2048896|1924113|2010|
| 58|2001049|1869486|2010|
| 59|1957350|1819943|2010|
| 60|1908602|1765522|2010|
| 61|1859542|1710843|2010|
| 62|1794846|1642438|2010|
| 63|1706899|1553454|2010|
| 64|1604801|1452106|2010|
| 65|1505088|1353125|2010|
| 66|1404227|1253164|2010|
| 67|1314295|1164006|2010|
| 68|1242906|1092883|2010|
| 69|1184673|1034415|2010|
| 70|1126180| 975512|2010|
| 71|1069608| 918217|2010|
| 72|1018530| 865438|2010|
| 73| 973223| 817131|2010|
| 74| 932810| 772524|2010|
| 75| 894650| 730324|2010|
| 76| 857499| 690102|2010|
| 77| 826480| 651989|2010|
| 78| 803299| 615691|2010|
| 79| 784354| 580450|2010|
| 80| 765337| 546546|2010|
| 81| 748315| 514820|2010|
| 82| 720459| 478189|2010|
| 83| 675331| 433440|2010|
| 84| 618894| 383961|2010|
| 85| 564268| 336667|2010|
| 86| 509684| 290548|2010|
| 87| 455116| 247209|2010|
| 88| 402148| 208267|2010|
| 89| 350911| 173164|2010|
| 90| 300043| 139411|2010|
| 91| 249925| 107133|2010|
| 92| 204661|  80196|2010|
| 93| 166201|  60163|2010|
| 94| 133397|  45473|2010|
| 95| 102645|  32664|2010|
| 96|  74056|  22021|2010|
| 97|  51337|  13994|2010|
| 98|  35778|   8321|2010|
| 99|  25673|   4612|2010|
|100|  51007|   9506|2010|
+---+-------+-------+----+

# Transformation

In [ ]:
seniors = census_df[census_df['age'] > 54]
seniors.count()

46

In [ ]:
seniors.show(5)

+---+-------+-------+----+
|age|females|  males|year|
+---+-------+-------+----+
| 55|2167706|2059204|2010|
| 56|2106460|1989505|2010|
| 57|2048896|1924113|2010|
| 58|2001049|1869486|2010|
| 59|1957350|1819943|2010|
+---+-------+-------+----+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import lit

seniors_final = seniors.withColumn('total', lit(seniors.males + seniors.females))
seniors_final.show(10)

+---+-------+-------+----+-------+
|age|females|  males|year|  total|
+---+-------+-------+----+-------+
| 55|2167706|2059204|2010|4226910|
| 56|2106460|1989505|2010|4095965|
| 57|2048896|1924113|2010|3973009|
| 58|2001049|1869486|2010|3870535|
| 59|1957350|1819943|2010|3777293|
| 60|1908602|1765522|2010|3674124|
| 61|1859542|1710843|2010|3570385|
| 62|1794846|1642438|2010|3437284|
| 63|1706899|1553454|2010|3260353|
| 64|1604801|1452106|2010|3056907|
+---+-------+-------+----+-------+
only showing top 10 rows

# Load data to target

In [ ]:
seniors_final\
 .write\
 .format("jdbc")\
 .option("driver", "com.mysql.jdbc.Driver")\
 .mode("overwrite")\
 .option("url", "jdbc:mysql://localhost/testdb")\
 .option("dbtable", "seniors")\
 .option("user", "root")\
 .option("password", "root_password")\
 .save()